<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./email.css
    body
        <div class="contenedorInformacion">
            <div class="contenedor">
                <div class="contenedorTitulo">
                    <h2> Registrar Club </h2>
                </div>
                <div class="contenedorTexto">
                    <p> Proyecto Zepelin le ha enviado una solicitud para unirse y participar en sus eventos <strong>Has click en el siguiente enlace</strong>    </p>
                    <div class="contenedorTextoBoton">
                        <div class="botonRegistrar">
                            a(href=`${registro-completo-club}`) Ir a registrarte
                        </div>
                    </div>
                </div>
            </div>
        </div>