link(rel="stylesheet", href="../public/css/contactos.css")
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     
<main>
    <div class="contenedorMapa">
        <div class="contenedorTituloMapa">
            h2 Ubicación Actual del Proyecto Zepelin
        </div>
        <div class="contenedor">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.1910063361657!2d-101.2220322749713!3d19.6800703282459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c24cdd5000d%3A0x1cae0794e04955e2!2sRefugiados%20de%20Zacatl%C3%A1n%2051%2C%20Carlos%20Mar%C3%ADa%20de%20Bustamante%2C%2058197%20Morelia%2C%20Mich.!5e0!3m2!1ses-419!2smx!4v1593946947954!5m2!1ses-419!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

    <section class="contactos">
        <div class="ubicacion">
            <div class="imagen">
                img(src="../public/assets/imagenes/imagenesIconoMapa.jpg", alt="")
            </div>
            <div class="contenedorTextoUbicacion">
                <div class="texto">
                    p Direccion: 
                    p Refugiados de Zacatacal No 51 Col. Carlos Maria Bustamante
                </div>
            </div>
        </div>
        <div class="ubicacion">
            <div class="imagen">
                img(src="../public/assets/imagenes/imagenesIconoMapa.jpg", alt="")
            </div>
            <div class="contenedorTextoUbicacion">
                <div class="texto">    
                    p Horario:
                    p Lunes/Viernes 
                    p 8:00 am a 3:00 pm
                </div>    
            </div>
        </div>
        <div class="ubicacion">
            <div class="imagen">
                img(src="../public/assets/imagenes/imagenesIconoMapa.jpg", alt="")
            </div>
            <div class="contenedorTextoUbicacion">
                <div class="texto">
                    p Telefono: 
                    p tel: 4432566955
                </div>    
            </div>
        </div>
    </section>
    <div class="espaciador">
    </div>

    <section class="contactos-Mensajes">
        <div class="contenedorFormulario">
            <form>
                <div class="contenedorCaja">
                    <div class="form-group">
                        input(type="text", name="nombre" class="form-control" placeholder="Nombre" id="nombre")
                    </div>
                    <div class="form-group">
                        input(type="email" name="email" class="form-control" placeholder="email" id="email")
                    </div>
                </div>
                <div class="form-group">
                    textarea(name="mensaje", cols="30", rows="10" class="form-control" placeholder="Mensaje")
                </div>

                <div class="form-group">
                    input(type="submit", value="Enviar" class="form-control")
                </div>
            
                </div>
            

            </form>

        </div>

    </section>


</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


