

link(rel="stylesheet", href="./public/css/index.css")
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
title=nombrePagina
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        <main>

            <section class="contenedorObjetivo">
                
                <div class="contenedorTextoObjetivo">
                    <div class="tituloObjetivo">
                        h2 Proyecto Zepelin 
                    </div>
                    <div class="contenedorParrafo">
                        <p> En el proyecto zepelín estamos luchando con el abandono total del deporte frontenista en el estado de Michoacán así como la falta de apoyo por parte de las autoridades pertinentes en la organización publica y social, es por eso que la principal meta de la asociación es unificar a la sociedad frontenis implementando la estructuración de clubes a lo largo del municipio por medio de la afiliación al proyecto y por ende lograr un fortalecimiento como sociedad deportiva y generar mejor organización para la finalidad de la misma</p>
                    </div>
                </div>
                <div class="video">
                    <div class="contenedorVideo">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/F8HuEcCfYiM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                


            
            <section>
            </div>
                <div class="linea">
            </div>
            
            <section class="misionVision">
                <div class="contenedorMision">
                    <div class="contenedorParrafoCompleto">
                        <div class="contenedorTituloMision">
                            h2 Misión
                        </div>

                        <div class="contenedorParrafoMision">
                            <p> Somos una organización sin fines de lucro que tenemos como objetivo general el apoyo al deporte de frontenis en el estado de Michoacán, donde de manera puntual realizaremos diferentes acciones con la finalidad misma, de manera incluyente donde podremos participar y todos los amigos de la familia pelotari </p>
                        </div>
                    </div>
                
                    
                
                </div>

                <div class="contenedorImagen">
                    <div class="imagen">
                        img(src="./public/assets/imagenes/chicaLinda1.jpg", alt="" class="mg-fluid rounded-circle ")
                    </div>
                    
                </div>

            



            </section>
            </div>
                <div class="linea">
            </div>

            <section class="misionVision">
                <div class="contenedorImagen">
                    <div class="imagen">
                        img(src="./public/assets/imagenes/chicaLinda1.jpg", alt="" class="mg-fluid rounded-circle ")
                    </div>
                    
                </div>
                <div class="contenedorMision">
                    <div class="contenedorParrafoCompleto">
                        <div class="contenedorTituloMision">
                            h2 Visión
                        </div>

                        <div class="contenedorParrafoMision">
                            
                            <p> Referimos el compromiso de aportar, ofreciendo diferentes eventos donde aportaremos en temas que solidarizan al deporte, tales como torneos, eventos de caridad y diferentes actividades donde apoyamos e integraremos a toda la comunidad frontenista , siempre como prioridad la unidad y convivencia de la sociedad deportiva  </p>
                        </div>
                    </div>
                
                    
                
                </div>

            </section>
            <div class="linea">
            </div>

            <section class="valores">
                <div class="contenedorTituloValores">
                    h2 Valores Zepelin 
                </div>
                <div class="contenedorValores">
                    <div class="contenedorValorUno">
                        <div class="contenedorImagenCard">

                        </div> 


                    </div>
                    <div class="contenedorValorUno">
                        <div class="contenedorImagenCard">
                            
                        </div> 

                    </div>
                    <div class="contenedorValorUno">
                        <div class="contenedorImagenCard">
                            
                        </div> 
                    </div>
                    <div class="contenedorValorUno">
                        <div class="contenedorImagenCard">
                            
                        </div> 
                    </div>
                    
                    
                
                </div>

            </section>
            <div class="linea">
            </div>
        
        <footer>
            <div class="contenedorImagenFooter">

            </div>
            <div class="contenedorTextoFooter">
                
                <div class="Propietario">
                    <div class="tituloFooter">
                        <h5>Contribuyentes</h5>
                    </div>
                    <div class="contenedorParrafoFooter">
                        <p> Denis Lizbet Salazar Galarza </p>
                        <p> m.salazar.m@outlook </p>


                    </div> 
                </div>
                 
                <div class="caracteristicas">
                    <div class="tituloFooter">
                        <h5>Caracteristicas</h5>
                    </div>
                    <div class="contenedorParrafoFooter">
                            <p> Somos una empresa sin fines de lucro que promueve el deporte en la región </p>
                    </div> 
                </div>
                
            
                <div class="localizacion">
                    <div class="tituloFooter">
                        <h5>Localizacion</h5>
                    </div>
                    <div class="contenedorParrafoFooter">
                        <p>Refugiados de Zacatacal No 51 Col. Carlos Maria Bustamante</p>
                        <div class="contenedorFooterMapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.1910063361657!2d-101.2220322749713!3d19.6800703282459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c24cdd5000d%3A0x1cae0794e04955e2!2sRefugiados%20de%20Zacatl%C3%A1n%2051%2C%20Carlos%20Mar%C3%ADa%20de%20Bustamante%2C%2058197%20Morelia%2C%20Mich.!5e0!3m2!1ses-419!2smx!4v1593946947954!5m2!1ses-419!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div> 
                </div>

               
            </div>        
        </footer> 
        <div class="contenedorBarra"> 

        </div>
        </main>
      
        

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>





