<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/layout-administrador.css")
        title Document
    body
        <header>
            <div class="contenedorMenu">
                <nav>

                    <ul> 
                        <li>
                            <div class="contenedorEnlace">
                                <i class="fas fa-bars fa-2x"></i>  
                            </div>
                        <li>
                        
                        <li>
                            a(href="http://")
                                <div class="contenedorEnlace">
                                    
                                    <i class="fas fa-home fa-2x"></i>
                                    <strong>Inicio</strong>   
                            </div>
                        <li>
                        <li>
                            <div class="contenedorEnlace"> 
                                <i class="fas fa-user-plus fa-2x">
                                    a(href="") Agregar Cuenta 
                                </i>
                            </div> 
                        </li>
                        <li>
                            <div class="contenedorEnlace">
                                <i class="fas fa-user-friends fa-2x">
                                    a(href="http://") Crear  club 
                                </i>
                            </div>
                               
                        </li>
                        <li>
                            <div class="contenedorEnlace"> 
                                <i class="fas fa-trophy fa-2x">
                                    
                                    a(href="http://") Partidos   
                                </i>
                            </div>
                        </li>
                        <li>
                            <div class="contenedorEnlace">

                                <i class="fas fa-camera fa-2x">
                                    a(href="http://")  Galeria 
                                </i>
                            </div>
                        </li>

                    </ul>

                </nav>
            </div>



        </header>
    block NavegacionLateral
<script src="https://kit.fontawesome.com/b1b1034b59.js" crossorigin="anonymous"></script>